.details_main {
  width: 90%;
  margin: 20px auto;
  max-width: 1000px;
}

.details_top {
  gap: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  padding: 20px 0;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #ffffff;
  grid-template-columns: 40% 60%;
}
.img_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  font-weight: normal;
  background-color: #f5f6fc;
}

.status_div {
  margin: 10px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* // part of tabs */
.details_bottom {
  margin-top: 20px;
}

.details_key_features {
  padding: 0 10px;
}

.review {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}

.review_date {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .details_top {
    grid-template-columns: 100%;
  }
}
